<div class="d-block">
    <div class="p-4 o-box">
        <div class="row">
            <div class="col-3">
                <img src="./assets/Logo.png" class="position-relative img-fluid" alt="">
            </div>
            <div class="col-6">
                <h1 class="text-center blue-text"><b>Welcome to Urefine</b></h1>
            </div>
            <div class="col-3"></div>
        </div>
        <h2 class="p-2 text-center blue-text"><b>MISSION</b></h2>
        <h6 class="p-2 text-center white-text"><b>Connect people with the best health care services.</b></h6>
        <h2 class="p-2 text-center blue-text"><b>VISION</b></h2>
        <h6 class="p-2 text-center white-text"><b>URefine’s vision is to foster a community where
                individuals can share their experiences, seek advice & recommendations,
                and to find the answers they need to make the right decision about their health needs.</b>
        </h6>
        <h5 class="pb-2 text-center blue-text"><i><b>“URefine where your opinion and experience matters”</b></i></h5>
        <h2 class="p-2 text-center blue-text"><b>VALUES</b></h2>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 white-text">
                <ul>
                    <li><b>Citizenship</b></li>
                    <li><b>Respectfulness</b></li>
                    <li><b>Inclusiveness & Diversity</b></li>
                </ul>
            </div>
            <div class="col-5 white-text">
                <ul>
                    <li><b>Compassion</b></li>
                    <li><b>Collaboration</b></li>
                </ul>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>