.d-block {
    width: 75%;
    /* margin: 0 auto; */
    position: absolute;
    top: 10%;
    left: 12.5%;
    /* margin: -10% 0 0 0; */
}

.blue-text {
    color: #d4fafe;
}

.white-text {
    color: white;
}
