<div class="d-block">
    <div class="p-5 o-box text-white-bold">
        <form [formGroup]="myForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
            </div>
            <button class="btn btn-info">Login</button>
            <button class="btn btn-info ml-2" routerLink='/resetpassword'>Reset Password</button>
        </form>
    </div>
</div>