<div class="container mt-5">
    <div class="mx-auto d-block">
        <form [formGroup]="myForm" (ngSubmit)="submitForm()">
            <div class="form-row">
                <div class="form-group col">
                    <label for="firstName">Enter your URefine username, you will recieve an email with a temporary password.</label>
                    <input formControlName="username" id="username" type="text" class="form-control">
                </div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>